In [178]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [179]:
df = pd.read_csv('churn.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

In [180]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10002.000000,1.000200e+04,10002.000000,10001.000000,10002.000000,10002.000000,10002.000000,10001.000000,10001.000000,10002.000000,10002.000000
mean,5001.499600,1.569093e+07,650.555089,38.922311,5.012498,76491.112875,1.530194,0.705529,0.514949,100083.331145,0.203759
std,2887.472338,7.193177e+04,96.661615,10.487200,2.891973,62393.474144,0.581639,0.455827,0.499801,57508.117802,0.402812
min,1.000000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,2501.250000,1.562852e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000,50983.750000,0.000000
50%,5001.500000,1.569073e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.000000,1.000000,100185.240000,0.000000
75%,7501.750000,1.575323e+07,718.000000,44.000000,7.000000,127647.840000,2.000000,1.000000,1.000000,149383.652500,0.000000
max,10000.000000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000,1.000000

In [181]:
df1 =  df.fillna(0)

In [182]:
df1.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,0.0,1.0,79084.10,0

In [183]:
df1["Geography"].unique()

array(['France', 'Spain', 0, 'Germany'], dtype=object)

In [184]:
df1[df1["Geography"] == 0]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
6,7,15592531,Bartlett,822,0,Male,50.0,7,0.0,2,1.0,1.0,10062.8,0

In [185]:
df1 = df1[df1["Geography"] != 0]

In [186]:
df1['HasCrCard'] = df1['HasCrCard'].astype(int)
df1['IsActiveMember'] = df1['IsActiveMember'].astype(int)

In [187]:
X = df1.iloc[:,3:13] #independent
y = df1.iloc[:,13] #dependent or target

In [188]:
geography = pd.get_dummies(X['Geography'],drop_first = True).astype(int)
gender = pd.get_dummies(X['Gender'],drop_first = True).astype(int)

In [189]:
X = pd.concat([X,geography,gender],axis = 1)

In [190]:
X = X.drop(['Geography','Gender'],axis = 1)

In [191]:
X.shape

(10001, 11)

In [192]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42.0,2,0.00,1,1,1,101348.88,0,0,0
1,608,41.0,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42.0,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39.0,1,0.00,2,0,0,93826.63,0,0,0
4,850,43.0,2,125510.82,1,0,1,79084.10,0,1,0

In [193]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size = 0.2, random_state = 42)

In [194]:
len(X_train)

8000

In [195]:
len(y_train)

8000

In [196]:
from sklearn.preprocessing import StandardScaler
# Feature Scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [197]:
import keras
from keras.models import  Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import LeakyReLU,ELU,PReLU
import tensorflow as tf

In [198]:
model = Sequential()

model.add(Dense(16, input_dim=X_train.shape[1], activation='relu'))  # Input layer and first hidden layer
model.add(Dense(8, activation='relu'))  # Second hidden layer
model.add(Dense(1, activation='sigmoid'))  # Output layer (for binary classification)

/home/silas-penda/.pyenv/versions/3.9.12/lib/python3.9/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [199]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [200]:
model_history = model.fit(X_train,y_train,validation_split = 0.33, batch_size= 16, epochs = 100)

Epoch 1/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 8s 11ms/step - accuracy: 0.7850 - loss: 0.5264 - val_accuracy: 0.7978 - val_loss: 0.4633
Epoch 2/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - accuracy: 0.8113 - loss: 0.4337 - val_accuracy: 0.8046 - val_loss: 0.4349
Epoch 3/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8096 - loss: 0.4267 - val_accuracy: 0.8069 - val_loss: 0.4240
Epoch 4/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.8042 - loss: 0.4261 - val_accuracy: 0.8194 - val_loss: 0.4132
Epoch 5/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8297 - loss: 0.3905 - val_accuracy: 0.8326 - val_loss: 0.3913
Epoch 6/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 13ms/step - accuracy: 0.8434 - loss: 0.3731 - val_accuracy: 0.8466 - val_loss: 0.3764
Epoch 7/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.8517 - loss: 0.3608 - val_accuracy: 0.8538 - val_loss: 0.3645
Epoch 8/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 10s 30ms/step - accuracy: 0.8533 - loss: 0.3614 - val_accuracy: 0.8565 - val_loss: 0.3570
Epoch 9/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 11s 31ms/step - accuracy: 0.8597 - loss: 0.3522 - val_accuracy: 0.8565 - val_loss: 0.3529
Epoch 10/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 13s 37ms/step - accuracy: 0.8614 - loss: 0.3470 - val_accuracy: 0.8527 - val_loss: 0.3539
Epoch 11/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 7s 21ms/step - accuracy: 0.8533 - loss: 0.3555 - val_accuracy: 0.8557 - val_loss: 0.3502
Epoch 12/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 12ms/step - accuracy: 0.8617 - loss: 0.3416 - val_accuracy: 0.8573 - val_loss: 0.3514
Epoch 13/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 14ms/step - accuracy: 0.8617 - loss: 0.3407 - val_accuracy: 0.8554 - val_loss: 0.3480
Epoch 14/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 16ms/step - accuracy: 0.8588 - loss: 0.3471 - val_accuracy: 0.8576 - val_loss: 0.3484
Epoch 15/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 11s 19ms/step - accuracy: 0.8547 - loss: 0.3498 - val_accuracy: 0.8565 - val_loss: 0.3460
Epoch 16/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 17ms/step - accuracy: 0.8552 - loss: 0.3399 - val_accuracy: 0.8576 - val_loss: 0.3448
Epoch 17/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 16ms/step - accuracy: 0.8604 - loss: 0.3370 - val_accuracy: 0.8561 - val_loss: 0.3441
Epoch 18/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 14ms/step - accuracy: 0.8607 - loss: 0.3314 - val_accuracy: 0.8576 - val_loss: 0.3446
Epoch 19/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 18ms/step - accuracy: 0.8594 - loss: 0.3309 - val_accuracy: 0.8584 - val_loss: 0.3424
Epoch 20/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 14s 40ms/step - accuracy: 0.8640 - loss: 0.3312 - val_accuracy: 0.8557 - val_loss: 0.3428
Epoch 21/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 13ms/step - accuracy: 0.8625 - loss: 0.3334 - val_accuracy: 0.8576 - val_loss: 0.3409
Epoch 22/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - accuracy: 0.8655 - loss: 0.3312 - val_accuracy: 0.8588 - val_loss: 0.3405
Epoch 23/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - accuracy: 0.8693 - loss: 0.3187 - val_accuracy: 0.8584 - val_loss: 0.3406
Epoch 24/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8629 - loss: 0.3240 - val_accuracy: 0.8591 - val_loss: 0.3412
Epoch 25/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.8564 - loss: 0.3361 - val_accuracy: 0.8573 - val_loss: 0.3418
Epoch 26/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 13ms/step - accuracy: 0.8654 - loss: 0.3276 - val_accuracy: 0.8565 - val_loss: 0.3440
Epoch 27/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 8s 22ms/step - accuracy: 0.8603 - loss: 0.3282 - val_accuracy: 0.8580 - val_loss: 0.3406
Epoch 28/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 18ms/step - accuracy: 0.8678 - loss: 0.3215 - val_accuracy: 0.8618 - val_loss: 0.3408
Epoch 29/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 12ms/step - accuracy: 0.8551 - loss: 0.3448 - val_accuracy: 0.8607 - val_loss: 0.3392
Epoch 30/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8712 - loss: 0.3208 - val_accuracy: 0.8573 - val_loss: 0.3420
Epoch 31/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 14ms/step - accuracy: 0.8544 - loss: 0.3411 - val_accuracy: 0.8603 - val_loss: 0.3394
Epoch 32/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 19ms/step - accuracy: 0.8550 - loss: 0.3368 - val_accuracy: 0.8576 - val_loss: 0.3421
Epoch 33/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 19ms/step - accuracy: 0.8629 - loss: 0.3194 - val_accuracy: 0.8618 - val_loss: 0.3398
Epoch 34/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 17ms/step - accuracy: 0.8633 - loss: 0.3252 - val_accuracy: 0.8580 - val_loss: 0.3405
Epoch 35/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 13s 37ms/step - accuracy: 0.8616 - loss: 0.3295 - val_accuracy: 0.8580 - val_loss: 0.3405
Epoch 36/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 10s 29ms/step - accuracy: 0.8744 - loss: 0.3078 - val_accuracy: 0.8595 - val_loss: 0.3403
Epoch 37/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 13s 39ms/step - accuracy: 0.8627 - loss: 0.3312 - val_accuracy: 0.8591 - val_loss: 0.3395
Epoch 38/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 15s 43ms/step - accuracy: 0.8731 - loss: 0.3092 - val_accuracy: 0.8591 - val_loss: 0.3392
Epoch 39/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 12s 35ms/step - accuracy: 0.8738 - loss: 0.3136 - val_accuracy: 0.8569 - val_loss: 0.3435
Epoch 40/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 10s 29ms/step - accuracy: 0.8666 - loss: 0.3305 - val_accuracy: 0.8588 - val_loss: 0.3404
Epoch 41/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 9s 26ms/step - accuracy: 0.8630 - loss: 0.3223 - val_accuracy: 0.8607 - val_loss: 0.3407
Epoch 42/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 18ms/step - accuracy: 0.8520 - loss: 0.3438 - val_accuracy: 0.8603 - val_loss: 0.3400
Epoch 43/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 15ms/step - accuracy: 0.8678 - loss: 0.3097 - val_accuracy: 0.8576 - val_loss: 0.3427
Epoch 44/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 13ms/step - accuracy: 0.8678 - loss: 0.3125 - val_accuracy: 0.8591 - val_loss: 0.3404
Epoch 45/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 7s 21ms/step - accuracy: 0.8580 - loss: 0.3313 - val_accuracy: 0.8573 - val_loss: 0.3410
Epoch 46/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 7s 21ms/step - accuracy: 0.8575 - loss: 0.3355 - val_accuracy: 0.8573 - val_loss: 0.3410
Epoch 47/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 9s 25ms/step - accuracy: 0.8635 - loss: 0.3299 - val_accuracy: 0.8595 - val_loss: 0.3434
Epoch 48/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - accuracy: 0.8642 - loss: 0.3230 - val_accuracy: 0.8588 - val_loss: 0.3439
Epoch 49/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - accuracy: 0.8631 - loss: 0.3193 - val_accuracy: 0.8561 - val_loss: 0.3408
Epoch 50/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 13ms/step - accuracy: 0.8664 - loss: 0.3128 - val_accuracy: 0.8550 - val_loss: 0.3444
Epoch 51/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 11s 32ms/step - accuracy: 0.8655 - loss: 0.3278 - val_accuracy: 0.8584 - val_loss: 0.3425
Epoch 52/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 11s 32ms/step - accuracy: 0.8620 - loss: 0.3249 - val_accuracy: 0.8576 - val_loss: 0.3409
Epoch 53/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 9s 28ms/step - accuracy: 0.8675 - loss: 0.3165 - val_accuracy: 0.8569 - val_loss: 0.3419
Epoch 54/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 16ms/step - accuracy: 0.8776 - loss: 0.2975 - val_accuracy: 0.8573 - val_loss: 0.3411
Epoch 55/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - accuracy: 0.8706 - loss: 0.3130 - val_accuracy: 0.8595 - val_loss: 0.3414
Epoch 56/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 13ms/step - accuracy: 0.8631 - loss: 0.3205 - val_accuracy: 0.8614 - val_loss: 0.3415
Epoch 57/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8662 - loss: 0.3238 - val_accuracy: 0.8603 - val_loss: 0.3401
Epoch 58/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 15ms/step - accuracy: 0.8699 - loss: 0.3184 - val_accuracy: 0.8584 - val_loss: 0.3420
Epoch 59/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 12ms/step - accuracy: 0.8660 - loss: 0.3252 - val_accuracy: 0.8588 - val_loss: 0.3419
Epoch 60/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 9s 28ms/step - accuracy: 0.8698 - loss: 0.3187 - val_accuracy: 0.8569 - val_loss: 0.3418
Epoch 61/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 15s 44ms/step - accuracy: 0.8713 - loss: 0.3164 - val_accuracy: 0.8584 - val_loss: 0.3452
Epoch 62/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 8s 25ms/step - accuracy: 0.8682 - loss: 0.3172 - val_accuracy: 0.8595 - val_loss: 0.3417
Epoch 63/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 15ms/step - accuracy: 0.8727 - loss: 0.3121 - val_accuracy: 0.8557 - val_loss: 0.3415
Epoch 64/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 18ms/step - accuracy: 0.8734 - loss: 0.3080 - val_accuracy: 0.8580 - val_loss: 0.3427
Epoch 65/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 12ms/step - accuracy: 0.8649 - loss: 0.3201 - val_accuracy: 0.8599 - val_loss: 0.3421
Epoch 66/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 15ms/step - accuracy: 0.8671 - loss: 0.3191 - val_accuracy: 0.8569 - val_loss: 0.3434
Epoch 67/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 16ms/step - accuracy: 0.8638 - loss: 0.3186 - val_accuracy: 0.8557 - val_loss: 0.3416
Epoch 68/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - accuracy: 0.8686 - loss: 0.3115 - val_accuracy: 0.8595 - val_loss: 0.3439
Epoch 69/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 16ms/step - accuracy: 0.8535 - loss: 0.3374 - val_accuracy: 0.8573 - val_loss: 0.3461
Epoch 70/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 10s 29ms/step - accuracy: 0.8738 - loss: 0.3018 - val_accuracy: 0.8591 - val_loss: 0.3449
Epoch 71/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 15ms/step - accuracy: 0.8644 - loss: 0.3275 - val_accuracy: 0.8569 - val_loss: 0.3434
Epoch 72/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 18ms/step - accuracy: 0.8697 - loss: 0.3257 - val_accuracy: 0.8576 - val_loss: 0.3422
Epoch 73/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 7s 20ms/step - accuracy: 0.8601 - loss: 0.3218 - val_accuracy: 0.8576 - val_loss: 0.3438
Epoch 74/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 12s 36ms/step - accuracy: 0.8723 - loss: 0.3144 - val_accuracy: 0.8584 - val_loss: 0.3426
Epoch 75/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 7s 20ms/step - accuracy: 0.8662 - loss: 0.3224 - val_accuracy: 0.8573 - val_loss: 0.3432
Epoch 76/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 9s 27ms/step - accuracy: 0.8645 - loss: 0.3196 - val_accuracy: 0.8580 - val_loss: 0.3432
Epoch 77/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 10s 30ms/step - accuracy: 0.8682 - loss: 0.3262 - val_accuracy: 0.8588 - val_loss: 0.3429
Epoch 78/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - accuracy: 0.8712 - loss: 0.3105 - val_accuracy: 0.8565 - val_loss: 0.3442
Epoch 79/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 7s 15ms/step - accuracy: 0.8677 - loss: 0.3171 - val_accuracy: 0.8588 - val_loss: 0.3447
Epoch 80/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 16ms/step - accuracy: 0.8763 - loss: 0.3060 - val_accuracy: 0.8599 - val_loss: 0.3439
Epoch 81/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 15ms/step - accuracy: 0.8595 - loss: 0.3237 - val_accuracy: 0.8584 - val_loss: 0.3448
Epoch 82/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 15ms/step - accuracy: 0.8727 - loss: 0.3050 - val_accuracy: 0.8584 - val_loss: 0.3435
Epoch 83/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 18ms/step - accuracy: 0.8699 - loss: 0.3112 - val_accuracy: 0.8576 - val_loss: 0.3431
Epoch 84/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 8s 22ms/step - accuracy: 0.8690 - loss: 0.3119 - val_accuracy: 0.8569 - val_loss: 0.3460
Epoch 85/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 17ms/step - accuracy: 0.8771 - loss: 0.3051 - val_accuracy: 0.8584 - val_loss: 0.3436
Epoch 86/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - accuracy: 0.8671 - loss: 0.3232 - val_accuracy: 0.8599 - val_loss: 0.3442
Epoch 87/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 15ms/step - accuracy: 0.8656 - loss: 0.3111 - val_accuracy: 0.8588 - val_loss: 0.3439
Epoch 88/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 16ms/step - accuracy: 0.8715 - loss: 0.3125 - val_accuracy: 0.8576 - val_loss: 0.3462
Epoch 89/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 9s 28ms/step - accuracy: 0.8672 - loss: 0.3218 - val_accuracy: 0.8595 - val_loss: 0.3447
Epoch 90/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 12ms/step - accuracy: 0.8662 - loss: 0.3160 - val_accuracy: 0.8561 - val_loss: 0.3445
Epoch 91/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 7s 21ms/step - accuracy: 0.8653 - loss: 0.3152 - val_accuracy: 0.8599 - val_loss: 0.3453
Epoch 92/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 12s 34ms/step - accuracy: 0.8657 - loss: 0.3178 - val_accuracy: 0.8584 - val_loss: 0.3440
Epoch 93/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 8s 25ms/step - accuracy: 0.8657 - loss: 0.3148 - val_accuracy: 0.8565 - val_loss: 0.3424
Epoch 94/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 12ms/step - accuracy: 0.8557 - loss: 0.3354 - val_accuracy: 0.8576 - val_loss: 0.3428
Epoch 95/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8549 - loss: 0.3240 - val_accuracy: 0.8584 - val_loss: 0.3449
Epoch 96/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - accuracy: 0.8748 - loss: 0.3025 - val_accuracy: 0.8576 - val_loss: 0.3438
Epoch 97/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 5s 16ms/step - accuracy: 0.8625 - loss: 0.3244 - val_accuracy: 0.8576 - val_loss: 0.3440
Epoch 98/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.8774 - loss: 0.2964 - val_accuracy: 0.8580 - val_loss: 0.3435
Epoch 99/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 6s 17ms/step - accuracy: 0.8686 - loss: 0.3132 - val_accuracy: 0.8584 - val_loss: 0.3459
Epoch 100/100
335/335 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8704 - loss: 0.3134 - val_accuracy: 0.8595 - val_loss: 0.3459

In [201]:
pd.DataFrame(model_history.history).head()

   accuracy      loss  val_accuracy  val_loss
0  0.795671  0.496164      0.797804  0.463251
1  0.808360  0.432742      0.804619  0.434917
2  0.818996  0.415469      0.806891  0.424025
3  0.823101  0.402589      0.819387  0.413194
4  0.831872  0.390304      0.832639  0.391276

In [202]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

63/63 ━━━━━━━━━━━━━━━━━━━━ 3s 47ms/step

In [203]:
model.save('my_churn_dataset.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.